<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<handlers accessPolicy="Read, Execute, Script">
            <remove name="CGI-exe" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" scriptProcessor="C:\Users\Administrator\Desktop\tool\php-5.6.34-nts-Win32-VC11-x64\php-cgi.exe" resourceType="File" requireAccess="None" allowPathInfo="true" />
        </handlers> 
        <security>
		  <requestFiltering allowDoubleEscaping="true" />
		</security>
        <rewrite>
		 <rules>
		 <rule name="OrgPage" stopProcessing="true">
		 <match url="^(.*)$" />
		 <conditions logicalGrouping="MatchAll">
		 <add input="{HTTP_HOST}" pattern="^(.*)$" />
		 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
		 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		 </conditions>
		 <action type="Rewrite" url="index.php/{R:1}" />
		 </rule>
		 </rules>
		 </rewrite>
    </system.webServer>
</configuration>
