@charset "utf-8";
/*
*name:公共初始化样式
*create in 20174/11/28
*version:tphsop-1.0
*/
html,body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,form,td,th{margin:0;padding:0;}
ul,ol{list-style:none;}
em,i{font-style:normal;}
a{text-decoration:none;color:inherit;}
input,button,textarea{outline:none;border:none;}
textarea{resize:none;}
img{vertical-align: top;}
.clearfix{*zoom:1;}
.clearfix:after{
  content: "200B";
  height: 0;
  font-size: 0;
  display: block;
  clear: both;
}
.hide{display: none !important;}
.f-l{float:left;}
.f-r{float:right;}
.t-l{text-align:left;}
.t-c{text-align:center;}
.t-r{text-align:right;}
.ellipsis1{overflow:hidden;white-space:nowrap;word-wrap:normal;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.font-MY{ font-family:"Microsoft YaHei","sans-serif";}
.i100{width: 100%;max-width:100%;}
.t-bg{
  -ms-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.t-all{
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
  color: #666;
}
input:-moz-placeholder,textarea:-moz-placeholder {
  color: #666;
}
/*-webkit滚动条-*/
.scrollbar::-webkit-scrollbar{/*定义滚动条宽*/
  width: 8px;
}
.scrollbar::-webkit-scrollbar-track{/*定义轨道颜色、内阴影及圆角*/
  background-color: #ddd;
  -webkit-box-shadow:inset 0 0 2px #333;
  border-radius:4px;
}
.scrollbar::-webkit-scrollbar-thumb{ /*定义滑块颜色及圆角*/
  border-radius:4px;
  background-color: #999;
}


























