<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>短信配置模板</h3>
                <h5>短信平台短信配置模板</h5>
            </div>
            <ul class="tab-base nc-row">
                 <li><a href="{:U('SmsTemplate/index',['$k'=> 'list'])}" <if condition="$Request.param.k neq 'log'">class="current"</if>><span>短信模板</span></a></li>
                 <li><a href="{:U('SmsTemplate/sms_log',['$k'=> 'log'])}" <if condition="$Request.param.k eq 'log'">class="current"</if>><span>发送日志</span></a></li
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>短信发送日志历史.</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>日志列表</h3>
                <h5>(共{$smsList|count}条记录)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 80px;" class="">应用场景</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">手机号码</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 150px;" class="">发送时间</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 100px;" class="">发送状态</div>
                        </th>
                        <th align="center" abbr="article_content" axis="col6" class="">
                            <div style="text-align: center; width: 350px;" class="">消息内容</div>
                        </th>
                        <th align="center" abbr="article_content" axis="col6" class="">
                            <div style="text-align: center; width: 350px;" class="">错误信息</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div style="clear:both"></div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <volist name="smsLogList" id="list">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 80px;">{$send_scene[$list['send_scene']][0]}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$list.mobile}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 150px;">{$list.add_time|date='Y-m-d H:i:s',###}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 100px;">
                                	<if condition="$list['status'] eq 1"><font color="green">成功</font><else/><font color="red">失败</font></if></div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: left; width: 350px;">{$list.msg}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: left; width: 350px;">{$list.error_msg}</div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$page} </div>
</div>
</body>
</html>