<include file="public/layout" />
<style>
    span.type-virtual {
        background-color: #3598DC;
        line-height: 16px;
        color: #FFF;
        display: inline-block;
        height: 16px;
        padding: 1px 4px;
        margin-right: 2px;
        box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25);
        cursor: default;
    }
</style>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>商品管理 - 库存日志</h3>
                <h5>网站系统库存日志</h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a class=""  href="{:U('admin/goods/StockList?mtype=1')}"><span>入库日志</span></a></li>
                <li><a class="" href="{:U('admin/goods/StockList?mtype=-1')}"><span>出库日志</span></a></li>
                <li><a class="" href="{:U('admin/goods/lowStockWarn')}"><span>库存预警</span></a></li>
                <li><a class="current" href="{:U('admin/goods/alterStock')}"><span>库存盘点</span></a></li>
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>库存输入框可快速修改库存量</li>
            <li>批量修改输入框内可对选中的商品进行批量修改</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>库存盘点</h3>
            </div>
            <a href=""><div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div></a>
            <form action="" id="search-form2" class="navbar-form form-inline" method="post" onSubmit="return false">
                <div class="sDiv">
                    <div class="sDiv2">
                        <select name="cat_id" id="cat_id" class="select">
                            <option value="">所有分类</option>
                            <foreach name="categoryList" item="v" key="k" >
                                <option value="{$v['id']}"> {$v['name']}</option>
                            </foreach>
                        </select>
                        <select name="brand_id" id="brand_id" class="select">
                            <option value="">所有品牌</option>
                            <foreach name="brandList" item="v" key="k" >
                                <option value="{$v['id']}">{$v['name']}</option>
                            </foreach>
                        </select>
                        <select name="is_on_sale" id="is_on_sale" class="select">
                            <option value="">全部</option>
                            <option value="1">上架</option>
                            <option value="0">下架</option>
                        </select>
                        <select name="intro" class="select">
                            <option value="0">全部</option>
                            <option value="is_new">新品</option>
                            <option value="is_recommend">推荐</option>
                        </select>

                        <!--排序规则-->
                        <input type="hidden" name="orderby1" value="goods_id" />
                        <input type="hidden" name="orderby2" value="desc" />
                        <input type="text" size="30" name="key_word" class="qsbox" placeholder="搜索词...">
                        <input type="button" onClick="ajax_get_table('search-form2',1)" class="btn" value="搜索">
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col6" onclick="checkAllSign(this)">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col6" class="">
                            <div style="text-align: left; width:150px;" class="" onClick="sort('goods_id');">商品编号</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 300px;" class="" onClick="sort('goods_name');">商品名称</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col6" class="">
                            <div style="text-align: center; width: 300px;" class="" onClick="sort('goods_sn');">商品规格</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="" onClick="sort('cat_id');">商品分类</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 200px;" class="" onClick="sort('brand_id');">商品品牌</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 50px;" class="" onClick="sort('sort');">库存</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton">
                    <a href="javascript:;" onclick="test()">
                        <div class="add" title="批量修改">
                            <span>批量修改</span>
                        </div>
                    </a>

                </div>
                <input type="text" id="valForm" onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" placeholder="数量"  size="4" value="" />
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv" style="height: auto;">
            <!--ajax 返回 -->
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0"></div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function(){
        // 刷选条件 鼠标 移动进去 移出 样式
        $(".hDivBox > table > thead > tr > th").mousemove(function(){
            $(this).addClass('thOver');
        }).mouseout(function(){
            $(this).removeClass('thOver');
        });

        // 表格行点击选中切换
        $(document).on('click','#flexigrid > table>tbody >tr',function(){
            $(this).toggleClass('trSelected');
            var checked = $(this).hasClass('trSelected');
            $(this).find('input[type="checkbox"]').attr('checked',checked);
        });
    });

    $(document).ready(function () {
        // ajax 加载商品列表
        ajax_get_table('search-form2',1);

    });

    // ajax 抓取页面 form 为表单id  page 为当前第几页
    function ajax_get_table(form, page) {
        cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type: "POST",
            url: "/index.php?m=Admin&c=goods&a=ajaxAlterStock&p=" + page,//+tab,
            data: $('#' + form).serialize(),// 你的formid
            success: function (data) {
                $("#flexigrid").html('');
                $("#flexigrid").append(data);
            }
        });
    }

    // 点击排序
    function sort(field)
    {
        $("input[name='orderby1']").val(field);
        var v = $("input[name='orderby2']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='orderby2']").val(v);
        ajax_get_table('search-form2',cur_page);
    }

    function test(type){
        var ids='';
        $("tr[class='trSelected']").each(function(){
            ids+=$(this).attr('data-id')+',';
        });
        if(!ids){
            layer.msg('未选中商品', {icon: 2, time: 1000});
            return false;
        }
        var num =  $('#valForm').val();
        if(''=== num){
            layer.msg('未填写数量', {icon: 2, time: 1000});
            return false;
        }

        //批量修改库存
        $.ajax({
            url: "{:U('Goods/changeStockVal')}",
            type:'post',
            data:{ids:ids,data:num},
            dataType:'JSON',
            success: function (data) {
                layer.closeAll();
                if (data.status == 1){
                    layer.msg(data.msg, {icon: 1, time: 2000},function(){
                        ajax_get_table('search-form2',cur_page);
                    });
                }else{
                    layer.msg(data.msg, {icon: 2, time: 2000});
                }
            }
        });
    }
</script>
</body>
</html>