<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>搭配购管理</h3>
				<h5>网站系统搭配购活动审核与管理</h5>
			</div>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul>
			<li>搭配购管理, 由平台设置管理.</li>
		</ul>
	</div>
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>搭配购活动列表</h3>
				<h5>(共{$page->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="left" class="">
							<div style="text-align: left; width: 50px;" class="">搭配购ID</div>
						</th>
						<th align="left" class="">
							<div style="text-align: center; width: 100px;" class="">搭配购标题</div>
						</th>
						<th align="left" class="">
							<div style="text-align: center; width: 240px;" class="">搭配购主体商品</div>
						</th>
						<th align="center" class="">
							<div style="text-align: center; width: 300px;" class="">主体商品规格</div>
						</th>
						<th align="center" class="">
							<div style="text-align: center; width: 100px;" class="">套餐内商品数量</div>
						</th>
						<th align="center" class="">
							<div style="text-align: center; width: 120px;" class="">开始时间</div>
						</th>
						<th align="center" class="">
							<div style="text-align: center; width: 120px;" class="">结束时间</div>
						</th>
						<th align="center" class="">
							<div style="text-align: center; width: 120px;" class="">状态</div>
						</th>
						<th align="center" class="">
							<div style="text-align: center; width: 80px;" class="">是否启动</div>
						</th>
						<th align="left" class="handle">
							<div style="text-align: center; width: 240px;">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="tDiv">
			<div class="tDiv2">
				<a href="{:U('Combination/info')}">
					<div class="fbutton">
						<div title="添加搭配购" class="add">
							<span><i class="fa fa-plus"></i>添加搭配购</span>
						</div>
					</div>
				</a>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<volist name="list" id="combination">
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 50px;">{$combination.combination_id}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$combination.title|getSubstr=0,20}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 240px;">
									<a href="{:U('Home/Goods/goodsInfo',['id'=>$combination['combination_goods'][0]['goods_id'], 'item_id'=>$combination['combination_goods'][0]['item_id']])}" >
										{$combination['combination_goods'][0]['goods']['goods_name']|getSubstr=0,20}
									</a>
								</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 300px;">{$combination['combination_goods'][0]['spec_goods_price']['key_name']|default='--'}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 100px;">{$combination.combination_goods_count_count}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 120px;">{$combination.start_time|date='Y-m-d H:i:s',###}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 120px;">{$combination.end_time|date='Y-m-d H:i:s',###}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 120px;">
									<if condition="($combination['start_time'] < time())&&(time()<$combination['end_time'])">
										开始中
									<elseif condition="(time()<$combination['start_time'])" />
										未开始
									<elseif condition="$combination['end_time']<time()" />
										已过期
									</if>
								</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 80px;">
									<if condition="$combination['is_on_sale'] eq 1">
										<span class="yes" onClick="changeTableVal('combination','combination_id','{$combination.combination_id}','is_on_sale',this)" ><i class="fa fa-check-circle"></i>是</span>
										<else />
										<span class="no" onClick="changeTableVal('combination','combination_id','{$combination.combination_id}','is_on_sale',this)" ><i class="fa fa-ban"></i>否</span>
									</if>
								</div>
							</td>
							<td align="left" class="handle">
								<div style="text-align: left; width: 240px; max-width:240px;">
									<a class="btn blue" href="{:U('Combination/info',array('combination_id'=>$combination['combination_id']))}"><i class="fa fa-pencil-square-o"></i>编辑</a>
									<a class="btn red" data-url="{:U('Combination/delete')}" data-id="{$combination.combination_id}" onclick="delfun(this)"><i class="fa fa-trash-o"></i>删除</a>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</volist>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$page->show()} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});
	});

	function delfun(obj) {
		layer.confirm('确认删除？', {
					btn: ['确定', '取消'] //按钮
				}, function () {
					$.ajax({
						type: 'post',
						url: $(obj).attr('data-url'),
						data: {combination_id: $(obj).attr('data-id')},
						dataType: 'json',
						success: function (data) {
							layer.closeAll();
							if (data.status == 1) {
								layer.msg(data.msg, {icon: 1});
								$(obj).parent().parent().parent().remove();
							} else {
								layer.msg(data.msg, {icon: 2, time: 2000});
							}
						}
					})
				}, function (index) {
					layer.close(index);
				}
		);
	}
</script>
</body>
</html>